.header {
    &__inner {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 30px 0;
        position: fixed;
        background-color: black;
        z-index: 100;
    }
    &__logo {
        width: 128px;
        height: 31px;
        margin-left: 30px;
    }
    &__links {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
    &__link {
        font-family: $font-stack;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #FFFFFF;
        margin-right: 56px;
        text-decoration: none;
    }
    @media screen and (max-width: 1050px) {
        &__link {
            display: none;
        }
    }
    &__link:hover {
        opacity: .7;
    }
    &__button {
        font-family: $font-stack;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.4px;
        color: #000000;
        padding: 9px 20px 13px 20px;
        border-radius: 15px;
        border: none;
        color: inherit;
        background-color: transparent;
        background-color: #fff;
        cursor: pointer;
    }
    &__button:hover {
        opacity: .7;
    }
    @media screen and (max-width: 1050px) {
        &__button {
            display: none;
        }
    }
    &__button-brg span {
        width: 32px;
        height: 2px;
        border-bottom: 3px solid white;
        margin-top: 5px;
        display: none;
    }
    &__button-brg span:first-child {
        margin-top: 0px;
    }
    @media screen and (max-width: 1050px) {
        &__button-brg span {
            display: flex;
        }
    }
}